<template>
<div class="uk-inline">
	<vue-headful title="Device Selection - Odometer"/>
	<div>Device: </div>
	<button class="uk-button" type="button">{{currentDeviceText}}<i class="uk-icon-caret-down"/></button>
	<div class="uk-button-dropdown" uk-dropdown="mode:click">
		<div v-if="loading" uk-spinner />
		<div v-if="isEmpty">No devices found</div>
		<ul v-if="!isEmpty && !loading" class="uk-nav uk-dropdown-nav">
			<li v-for="device in devices">
				<router-link :to="'/devices/' + device.device_id">{{ device.description || device.device_guid }}</router-link>
			</li>
		</ul>
	</div>
</div>
</template>

<script>
export default {
	data () {
		return {
		}
	},

	mounted () {
		this.$store.dispatch('FETCH_DEVICES');
	},

	computed: {
		currentDeviceText() {
			const current = this.$store.state.currentDevice;
			if (!current) {
				return '(select)';
			}
			return current;
		},
		loading() {
			return this.$store.state.devices.loading;
		},
		error() {
			return this.$store.state.devices.error;
		},
		devices() {
			return this.$store.state.devices.records;
		},
		isEmpty() {
			const devices = this.$store.state.devices;
			if (!devices.records || devices.loading || devices.error) {
				// still loading
				return false;
			}
			return (!devices.records.length);
		}
	}
}
</script>

<style>
</style>
