<script>
import { Line, mixins } from 'vue-chartjs';
import moment from 'moment';
import momentDurationFormatSetup from 'moment-duration-format';
momentDurationFormatSetup(moment);

const numberFormat = new Intl.NumberFormat('en-US', { maximumFractionDigits: 1, minimumFractionDigits: 1 });

export default {
	extends: Line,
	props: ['chartData', 'options'],
	mixins: [mixins.reactiveProp],
	mounted () {
		console.log(this.chartData);
		this.renderChart(
			this.chartData, {
			legend: {
				position: 'bottom'
			},
			scales: {
				xAxes: [{
					type: 'linear',
					position: 'bottom',
					ticks: {
						beginAtZero: true,
						callback (value, index, values) {
							return moment.duration(value, 'seconds').format('mm:ss');
						}
					}
				}],
				yAxes: [{
					id: 'speed',
					type: 'logarithmic',
					position: 'left',
					ticks: {
						beginAtZero: true,
						callback (value, index, values) {
							return value;
						}
					}
				}, {
					id: 'heartRate',
					type: 'linear',
					position: 'right',
					ticks: {
						beginAtZero: true,
					}
				}]
			},
			tooltips: {
				callbacks: {
					title (tooltipItem, data) {
						return moment.duration(tooltipItem[0].xLabel, 'seconds').format('mm:ss');
					},
					label (tooltipItem, data) {
						var label = data.datasets[tooltipItem.datasetIndex].label;
						label += ': ' + numberFormat.format(tooltipItem.yLabel);
						return label;
					}
				}
			},
			responsive: true,
			maintainAspectRatio: false
		});
	}
};

</script>

<style>
</style>
