<template>
	<router-link class="uk-link-muted" :to="'/devices/' + currentDevice + '/monitor'">
		<div class="uk-text-nowrap uk-width-1-6">{{formatSpeedRpm(speedRpm)}} ({{formatDuration(elapsed)}})</div>
	</router-link>
</template>

<script>
export default {
	data () {
		return this.$store.state.monitor;
	},
	computed: {
		currentDevice() {
			return parseInt(this.$route.params.deviceId, 10);
		}
	},
}
</script>

<style>
</style>
