<template>
<div class="uk-position-center uk-box-shadow-medium uk-border-rounded uk-padding">
	<vue-headful :title="titleSummary"/>
	<div v-if="connectionStatus === 'disconnected'" class="uk-text-danger">Disconnected</div>
	<div v-if="connectionStatus === 'connecting'" class="uk-text-primary">Connecting...</div>
	<div v-if="connectionStatus === 'connect_error'" class="uk-text-danger">Could not connect to monitor server</div>
	<div v-if="connectionStatus === 'connected'">
		<div class="">Elapsed: <span>{{ formatDuration(elapsed) }} seconds</span></div>
		<div class="">Rotations: <span>{{rotations}}</span></div>
		<div class="">Speed (RPM): <span>{{ formatSpeedRpm(speedRpm)}}</span></div>
		<div class="">Speed (km/h): <span>{{ formatSpeedKmh(speedKmh) }}</span></div>
		<div class="">Distance (m): <span>{{ formatDistance(distance) }}</span></div>
		<div class="">Heart Rate: <span>{{ formatFloat(heartRate) }} BPM</span></div>
	</div>
</div>
</template>

<script>
export default {
	data () {
		return this.$store.state.monitor;
	},

	computed: {
		titleSummary() {
			if (this.connectionStatus === 'connected') {
				return this.formatSpeedRpm(this.speedRpm) + ' (' + this.formatDuration(this.elapsed) + ') - Odometer';
			}

			return 'Monitor - Odometer';
		}
	}
}
</script>

<style>
</style>
