<template>
<div>
	<h1>Sessions</h1>
	<vue-headful title="Sessions - Odometer"/>
	<div v-if="loading" uk-spinner />
	<div v-if="isEmpty">No sessions</div>
	<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
		<div v-for="session in sessions" class="uk-card uk-card-body uk-card-default">
			<div class="uk-card-title uk-grid">
				<router-link class="uk-width-5-6 uk-text-truncate" :to="'/devices/' + currentDevice + '/sessions/' + session.session_id">
				  {{ formatDate(session.start_time) }}
				</router-link>
				<a v-if="!session.loading" href="#" class="uk-width-1-6 uk-link-muted" uk-icon="icon: trash" @click.prevent="deleteSession(session)"></a>
			</div>
			<div class="uk-grid">
			  <img class="uk-width-1-2" v-if="session.chart_url" :src="session.chart_url" />
			  <template v-if="session.end_time">
				<div class="uk-width-1-2">
					<div class="uk-text-muted">Duration: {{ formatDuration(session.end_time - session.start_time) }}</div>
					<div class="uk-text-muted">Avg speed: {{ formatSpeedRpm(session.average_speed) }}</div>
					<div class="uk-text-muted">Distance: {{ formatDistance(session.distance) }}</div>
					<div v-if="session.max_heart_rate > 0" class="uk-text-muted"> - Max HR: {{ formatFloat(session.max_heart_rate) }} </div>
				</div>
			  </template>
			  <span v-if="session.loading" uk-spinner/>
			</div>
		</div>
	</div>
</div>
</template>

<script>
export default {
	data () {
		return {
			currentDevice: null
		}
	},

	mounted () {
		this.currentDevice = this.$route.params.deviceId;
		this.$store.dispatch('FETCH_SESSIONS', this.currentDevice);
	},

	computed: {
		loading() {
			return this.$store.state.sessions.sessions.loading;
		},
		error() {
			return this.$store.state.sessions.sessions.error;
		},
		sessions() {
			return this.$store.state.sessions.sessions.records;
		},
		isEmpty() {
			const sessions = this.$store.state.sessions.sessions;
			if (!sessions.records || sessions.loading || sessions.error) {
				// still loading
				return false;
			}
			return (!sessions.records.length);
		}
	},

	methods: {
		deleteSession(session) {
			UIkit.modal.confirm('Please confirm deletion ?').then(() => {
				this.$store.dispatch('DELETE_SESSION', session);
			});
		}
	}
}
</script>

<style>
</style>
