<template>
<div>
	<template v-if="loading">
		<h2>Session</h2>
		<div uk-spinner></div>
		<vue-headful title="Session - Odometer"/>
	</template>
	<template v-if="!session && !loading">
		<h2>Session</h2>
		<vue-headful title="Session - Odometer"/>
		<div>Session does not exist</div>
	</template>
	<template v-if="session && !loading">
		<h2>Session - {{formatDate(session.start_time)}}</h2>
		<vue-headful :title="'Session ' + formatDate(session.start_time) + ' - Odometer'"/>
		<div>
			<div uk-grid>
				<div class="uk-width-1-3@m">
					<div class="uk-card uk-card-body uk-card-default">
						<div v-if="error" class="uk-text-danger">{{error}}</div>
						<div v-if="!startTimeForm.isEditing">
							<span class="uk-text-bold">Start time: </span>{{formatDate(session.start_time)}}
							<button uk-icon="icon: pencil" v-on:click="startEditStartTime"/>
						</div>
						<div v-if="startTimeForm.isEditing">
							<span class="uk-text-bold">Start time: </span class="uk-text-bold">
							<form class="uk-form">
								<input type="text" v-model="startTimeForm.date" data-uk-datepicker="{format: 'YYYY-MM-DD'}" />
								<input type="text" v-model="startTimeForm.time" data-uk-timepicker />
								<button uk-icon="icon:check" v-on:click="saveSessionStartTime" />
							</form>
						</div>
						<div v-if="sessionDuration"><span class="uk-text-bold">Duration: </span>{{sessionDuration}}</div>
						<div><span class="uk-text-bold">Average speed: </span class="uk-text-bold"> {{formatSpeedRpm(session.average_speed)}}</div>
						<div><span class="uk-text-bold">Distance: </span class="uk-text-bold">{{formatDistance(session.distance)}}</div>
						<div v-if="session.max_heart_rate > 0">Max: {{formatFloat(session.max_heart_rate)}}</div>
					</div>
				</div>
				<div class="uk-width-2-3@m">
					<history-chart :chartData="chartData" :height="300"/>
				</div>
			</div>
		</div>
	</template>
</div>
</template>

<script>
import moment from 'moment';
import HistoryChart from './HistoryChart.vue';

export default {
	data () {
		return {
			currentDevice: null,
			startTimeForm: {
				isEditing: false,
				date: null,
				time: null
			}
		}
	},

	mounted () {
		this.currentDevice = this.$route.params.deviceId;
		// TODO: add device id
		this.$store.dispatch('FETCH_SESSION', this.$route.params.id);
	},

	components: {
		HistoryChart
	},

	computed: {
		current() {
			return this.$store.state.sessions.session;
		},
		loading() {
			return this.current.loading;
		},
		error() {
			return this.current.error;
		},
		session() {
			return this.current.record;
		},
		history() {
			return this.current.history;
		},
		sessionDuration() {
			let endTime = this.current.end_time;

			if (!endTime) {
				endTime = this.history[this.history.length - 1].timestamp;
			}

			if (endTime) {
				return this.formatDuration(endTime - this.session.start_time);
			}

			return null;
		},
		chartData() {
			// TODO: cache and only append data to existing series instead of
			// recomputing everything ?
			var history = this.history;

			var speedData = [];
			var heartRateData = [];

			for (var i = 0; i < history.length; i++) {
				var duration = history[i].timestamp - this.session.start_time;
				speedData.push({x: duration, y: history[i].speed});
				heartRateData.push({x: duration, y: history[i].heart_rate});
			}

			var result = [{
				label: 'Speed',
				data: speedData,
				borderColor: '#0000A0',
				fill: false
			}];

			if (this.session.max_heart_rate > 0) {
				result.push({
					label: 'Heart Rate',
					data: heartRateData,
					borderColor: '#800000',
					fill: false
				});
			}

			return {
				datasets: result
			};
		}
	},

	methods: {
		startEditStartTime() {
			this.startTimeForm.date= moment.unix(this.session.start_time).format('YYYY-MM-DD');
			this.startTimeForm.time = moment.unix(this.session.start_time).format('HH:mm');
			this.startTimeForm.isEditing = true;
		},

		saveSessionStartTime(event) {
			// TODO: validate !
			let newTime = moment(this.startTimeForm.date + ' ' + this.startTimeForm.time, 'YYYY-MM-DD HH:mm').unix();
			this.startTimeForm.isEditing = false;
			this.$store.dispatch('UPDATE_SESSION', newTime);
		}
	}
}
</script>

<style>
</style>
