<template>
<div>
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-navbar-left">
			<div class="uk-navbar-item">
				<router-link to="/"><h1>Odometer</h1></router-link>
			</div>
		</div>
		<div class="uk-navbar-left">
			<ul class="uk-navbar-nav">
				<li class="uk-navbar-item" v-if="currentDevice">
					<router-link :to="'/devices/' + currentDevice + '/sessions'">Sessions</router-link>
				</li>
				<li class="uk-navbar-item" v-if="currentDevice">
					<router-link :to="'/devices/' + currentDevice + '/monitor'">Monitor</router-link>
				</li>
			</ul>
		</div>
		<div class="uk-navbar-right" v-if="currentDevice" >
			<div class="uk-navbar-item">
				<monitor-panel />
			</div>
		</div>
	</nav>
	<router-view class="uk-container uk-margin-top uk-margin-bottom"></router-view>
</div>
</template>

<script>
import MonitorPanel from './components/MonitorPanel.vue'

export default {
	components: { MonitorPanel },
	data () {
		return {
			monitor: this.$store.state.monitor,
			currentDevice: null
		}
	},

	mounted () {
		this.currentDevice = this.$route.params.deviceId;
	},

	watch: {
		$route (to, from) {
			// TODO: include nav in router view instead
			this.currentDevice = this.$route.params.deviceId;
		}
	}
}
</script>

<style>
.message {
	color: blue;
}
</style>
